{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
{%enblock%}

{% block content %}

    <div class="container">
        <h3>Environmental Pitches</h3>
        <a href="{{url_for('main.new_pitch')}}">
            <br>
            Add a new Pitch
        </a>

        <hr>
        
            {{macro.displayPitchesInCategories(pitches,4)}}
        <hr>
    
    </div>

{% endblock %}