<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" style="color: lime; font-size: 30px; padding: 6px; font-weight: 100; margin-right: 100px;font-family: 'Luckiest Guy', cursive;
        " href="/" >PITCHER</a>
        <a class="navbar-brand" style="color: #fff; border-left: 1px solid lime;padding: 16px" href="/" ><span class="glyphicon glyphicon-home"></span> Home</a>
        <a class="navbar-brand" style="color: #fff;  border-left: 1px solid lime;padding: 16px" href="#" ><span class="glyphicon glyphicon-info-sign"></span> About</a>
        <a class="navbar-brand" style="color: #fff;  border-left: 1px solid lime;padding: 16px" href="#" ><span class="glyphicon glyphicon-earphone"></span> Contact</a>

      </nav>

</body>
</html>